.artwork-row {
  display: table;
  margin-bottom: 10px;
}

.artwork-center {
  display: table-cell;
  vertical-align: middle;
  float: none;
}

.artwork-image {
  margin-bottom: 15px;
}

.comment-box {
  width: 600px;
  resize: vertical;
}

.comment-section {
  margin-bottom: 35px;
}

.artwork-title {
  margin: 0 0 15px;
}
